<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Library Management</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/favicon.ico" rel="icon">

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Validation (Can also be refrenced inside needed page only) -->
    <link href="~/lib/bootstrap/dist/css/bootstrapValidator.min.css" rel="stylesheet">
    
    <!-- Toastr alert -->
    <link href="~/css/toastr.css" rel="stylesheet">

    <!-- Datatable (Can also be refrenced inside needed page only) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" rel="stylesheet" />

</head>

<body>
    
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
        <a href="~/" class="navbar-brand d-flex align-items-center">
            <h2 class="m-0 text-primary">Library Management</h2>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-4 py-lg-0">
                <a href="~/" class="nav-item nav-link active">Books</a>
                <a href="#" class="nav-item nav-link active">Users</a>
                <a href="#" class="nav-item nav-link active">Settings</a>
            </div>

        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Body Start -->

    @RenderBody()

    <!-- Body End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary footer mt-5 py-2 ">
        <div class="container py-2">
            <div class="row g-2">
               
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Sections</h5>
                    <a class="btn btn-link" href="~/">Books</a>
                    <a class="btn btn-link" href="#">Users</a>
                    <a class="btn btn-link" href="#">Settings</a>
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="container-fluid py-4" style="background: #000000;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Library Management</a>, All Right Reserved.
                </div>

            </div>
        </div>
    </div>
    <!-- Copyright End -->
    

    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrapValidator.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>

    <!-- Custom Javascript -->
    <script src="js/main.js"></script>
    <script src="~/js/toastr.js"></script>

    @RenderSection("scripts", false)

</body>

</html>